USE [master]
GO
/****** Object:  Database [LucyDB]    Script Date: 24/09/2017 22:31:29 ******/
CREATE DATABASE [LucyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LucyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LucyDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LucyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LucyDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LucyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LucyDB]
GO
/****** Object:  Table [dbo].[EmailDetail]    Script Date: 24/09/2017 22:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](80) NOT NULL,
	[EmailPassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EmailDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EmailDetail_EmailAddress]    Script Date: 24/09/2017 22:31:29 ******/
CREATE NONCLUSTERED INDEX [IX_EmailDetail_EmailAddress] ON [dbo].[EmailDetail]
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[uspSetEmailDetails]    Script Date: 24/09/2017 22:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lucy Hodgson
-- Create date: 23/09/2017
-- Description:	Insert Email Details into Database if the email doesn't exist
-- =============================================
CREATE PROCEDURE [dbo].[uspSetEmailDetails] 
	@EmailAddress NVARCHAR(80),
	@EmailPassword NVARCHAR(50),
	@ReturnValue INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		IF EXISTS(SELECT * FROM [dbo].[EmailDetail] WHERE EmailAddress = @EmailAddress)
		BEGIN
			;SET @ReturnValue = 1
		END
		ELSE
		BEGIN
			;INSERT INTO dbo.EmailDetail (EmailAddress, EmailPassword)
			VALUES(@EmailAddress, @EmailPassword)
			;SET @ReturnValue = 0
		END
		;SELECT @ReturnValue
	END TRY
	BEGIN CATCH
		;SET @ReturnValue = -1
		;SELECT @ReturnValue
	END CATCH

END

GO
USE [master]
GO
